:root {
  --cafe: #5B2924;
  --amarillo: #EEC170;
  --claro: #F2EADC;
  --naranja: #FF9F1C;
  --pastel: #F2D2B3;
}
.container{
    display: flex;
    flex-wrap: wrap; 
    background-color: var(--pastel); 
  }
  .container2{
    display: flex;
    flex-wrap: wrap;  
    background-color: var(--cafe);
  }
  .container3{
    display: flex;
    flex-wrap: wrap; 
    background-color: var(--pastel); 
  }
  div{
    box-sizing: border-box;
  }
  
  .img_logo{
    width: 200px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
  }
  
  .busqueda{
  flex-basis: 20%;
  }
  
  /* codigo para flechas de links del encabezado */
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .logo{
      flex-basis: 40%;
  }
  .links{
      flex-basis: 40%;
  }
  .titulo{
      padding-top: 60px;
  }
  
  .carrito{
    width: 50px;
    padding-left: 20px ;
   
  }
  
 .menu{
   margin-top: 20px;
    border: 2px solid black;
    text-align: center; 
  }
  
 
  
  .linea_encabezado{
    text-decoration: underline;
    border-bottom: 2px solid black;
    width: 100%;
  }
    
a{
    padding-left: 10px;
    color: var(--blanco);
    background-color: var(--pastel);
    text-decoration: none;
}
.libros{
  
    background-color: var(--pastel);
}
.capa{
    flex-basis: 33%;
}

.imagen2{
    text-align: center;
   padding-top: 10px;
}
.car{
    width: 20px;
    height: 20px;
}
h1{
  color: var(--naranja);
}
span{
  color: var(--cafe);
}
.color{
  background-color: var();
}
body{
  background-color: var(--pastel);
}
p span {
  color: var(--claro);
}
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
